@import "../../style/variables";

.landing {
  padding: 0 7rem 3rem;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;

    a {
      display: none;
    }

    h4,
    h1,
    p {
      color: $third_color;
      font-weight: 300;
    }

    h4 {
      font-size: 1.8rem;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      font-family: $font_poppins;
      width: fit-content;
      margin-bottom: 6rem;
      margin-top: 6rem;
    }

    h1 {
      font-size: 6.4rem;
      letter-spacing: 0;
      text-transform: uppercase;
      font-family: $font_neutral;
      width: fit-content;
      margin-bottom: 1.5rem;
    }

    p {
      font-family: $font_poppins;
      font-size: 1.8rem;
      width: 57.5rem;
      max-width: 100%;
      margin-bottom: 4rem;
    }
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    font-family: $font_poppins;
    font-size: 1.4rem;
    color: $fourth_color;
    text-transform: uppercase;
  }
}

@media (max-width: $bp_laptop) {
  .landing {
    &_main {
      a {
        display: block;
      }
    }
  }
}
@media (max-width: $bp_phone) {
  .landing {
    padding: 0 2.5rem 2rem;

    &_main {
      max-width: 100%;
      padding: 0 2.5rem;

      h4,
      h1,
      p {
        color: $third_color;
        font-weight: 300;
      }

      h4 {
        font-size: 1.4rem;
        margin: 0;
      }

      h1 {
        font-size: 4rem;
        margin: 3rem 0;
      }

      p {
        font-size: 1.4rem;
      }
    }

    &_bottom {
      font-size: 1rem;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16.5rem;
  position: relative;
  width: 100%;

  .menu {
    display: none;
  }

  h2 {
    display: flex;
    flex-direction: column;
    text-align: center;

    font-family: $font_poppins;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: 0.5rem;

    color: $fourth_color;
  }

  ul {
    display: flex;
    gap: 125px 5vw;
    li {
      list-style: none;

      a {
        font-family: $font_poppins;
        font-weight: 300;
        font-size: 1.6rem;

        color: $fifth_color;
        text-decoration: none;
      }
    }
  }

  .header_controls {
    display: flex;
    gap: 1rem;
    align-items: center;

    .theme {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &_button {
        width: 3.8rem;
        height: 2rem;
        padding: 0.1rem;

        position: relative;
        background-color: $fifth_color;

        border: none;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;

        &:after {
          content: "";
          width: 1.7rem;
          height: 1.7rem;
          position: absolute;
          top: 50%;
          left: 0.2rem;
          background-color: $main_color;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          transition: all 0.4s ease;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
        }

        &_theme {
          &:after {
            background-color: $main_color;
            left: 100%;
            transform: translate(calc(-100% - 0.2rem), -50%);
            -webkit-transform: translate(calc(-100% - 0.2rem), -50%);
            -moz-transform: translate(calc(-100% - 0.2rem), -50%);
            -ms-transform: translate(calc(-100% - 0.2rem), -50%);
            -o-transform: translate(calc(-100% - 0.2rem), -50%);
          }
        }
      }

      p {
        text-transform: uppercase;
        font-size: 1rem;
        font-family: $font_poppins;
        color: $fifth_color;
        font-weight: 300;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;

    bottom: 0;
    width: 100%;
    height: 0.1rem;

    background-color: $third_color;
    opacity: 0.5;
  }
}

@media (max-width: $bp_laptop) {
  header {
    h2 {
      display: flex;
      flex-direction: column;
      text-align: center;

      font-family: $font_poppins;
      font-weight: 400;
      font-size: 1.6rem;
      letter-spacing: 0.5rem;

      color: $fourth_color;
    }

    ul {
      display: flex;

      li {
        list-style: none;

        font-family: $font_poppins;
        font-weight: 300;
        font-size: 1.6rem;

        color: $fifth_color;
      }
    }

    .header_controls {
      .button {
        display: none;
      }

      .theme {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &_button {
          width: 3.8rem;
          height: 2rem;
          padding: 0.1rem;

          position: relative;

          border: none;
          border-radius: 3rem;
          -webkit-border-radius: 3rem;
          -moz-border-radius: 3rem;
          -ms-border-radius: 3rem;
          -o-border-radius: 3rem;

          &:after {
            content: "";
            width: 1.7rem;
            height: 1.7rem;
            position: absolute;
            top: 50%;
            left: 0.2rem;
            background-color: $secondary_color;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
          }

          &:hover {
            cursor: pointer;
            &:after {
              left: 100%;
              transform: translate(calc(-100% - 0.2rem), -50%);
              -webkit-transform: translate(calc(-100% - 0.2rem), -50%);
              -moz-transform: translate(calc(-100% - 0.2rem), -50%);
              -ms-transform: translate(calc(-100% - 0.2rem), -50%);
              -o-transform: translate(calc(-100% - 0.2rem), -50%);
            }
          }
        }

        p {
          text-transform: uppercase;
          font-size: 1rem;
          font-family: $font_poppins;
          color: $fifth_color;
          font-weight: 300;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: block;

      bottom: 0;
      width: 100%;
      height: 0.1rem;

      background-color: $third_color;
      opacity: 0.5;
    }
  }
}
@media (max-width: $bp_tablet) {
  header {
    .menu {
      display: block;
      font-size: 3rem;
      line-height: 0;

      svg {
        color: $fifth_color;
        opacity: 0.5;
      }
    }
    h2 {
      display: flex;
      flex-direction: column;
      text-align: center;

      font-family: $font_poppins;
      font-weight: 400;
      font-size: 1.6rem;
      letter-spacing: 0.5rem;

      color: $fourth_color;
    }

    ul {
      display: none;
    }

    .header_controls {
      .button {
        display: none;
      }

      .theme {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &_button {
          width: 3.8rem;
          height: 2rem;
          padding: 0.1rem;

          position: relative;

          border: none;
          border-radius: 3rem;
          -webkit-border-radius: 3rem;
          -moz-border-radius: 3rem;
          -ms-border-radius: 3rem;
          -o-border-radius: 3rem;

          &:after {
            content: "";
            width: 1.7rem;
            height: 1.7rem;
            position: absolute;
            top: 50%;
            left: 0.2rem;
            background-color: $secondary_color;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
          }

          &:hover {
            cursor: pointer;
            &:after {
              left: 100%;
              transform: translate(calc(-100% - 0.2rem), -50%);
              -webkit-transform: translate(calc(-100% - 0.2rem), -50%);
              -moz-transform: translate(calc(-100% - 0.2rem), -50%);
              -ms-transform: translate(calc(-100% - 0.2rem), -50%);
              -o-transform: translate(calc(-100% - 0.2rem), -50%);
            }
          }
        }

        p {
          text-transform: uppercase;
          font-size: 1rem;
          font-family: $font_poppins;
          color: $fifth_color;
          font-weight: 300;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: block;

      bottom: 0;
      width: 100%;
      height: 0.1rem;

      background-color: $third_color;
      opacity: 0.5;
    }
  }
}
@media (max-width: $bp_phone) {
  header {
    max-height: 15vh;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  background-color: $main_color;

  &_top {
    height: 15%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      display: flex;
      flex-direction: column;
      text-align: center;

      font-family: $font_poppins;
      font-weight: 400;
      font-size: 1.6rem;
      letter-spacing: 0.5rem;

      color: $fourth_color;
    }

    button {
      position: absolute;
      color: $fourth_color;
      right: 0;
      top: 50%;
      background: none;
      border: none;
      font-size: 3rem;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;

      bottom: 0;
      width: 100%;
      height: 0.1rem;

      background-color: $third_color;
      opacity: 0.5;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2rem;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      a {
        font-family: $font_poppins;
        font-weight: 300;
        font-size: 1.6rem;

        color: $fifth_color;
        text-decoration: none;
      }

      &::after,
      &::before {
        content: "";
        display: block;
        height: 0.1rem;
        width: 2rem;
        background: rgba(246, 246, 246, 0.5);
      }

      &:hover {
        gap: 3rem;
      }
    }
  }

  &_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    a,
    h3:last-child {
      text-align: center;
      font-size: 1.4rem;
      font-family: $font_poppins;
      font-weight: 300;
      color: $third_color;
      margin-bottom: 1rem;
      opacity: 0.7;
    }

    a {
      text-decoration: none;
    }
  }
}
