@import "../../style/variables";
@import "../../style/mixins.scss";

.line_break {
  width: 85%;
  height: 1px;
  background-color: $third_color;
  opacity: 0.5;
}

.skills {
  padding: 6rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  p {
    @include textStyle(1.8rem, $font_poppins, 200);
    margin-bottom: 3rem;
    width: 75rem;
    max-width: 100%;
    text-align: center;
    color: $third_color;
  }

  &_first,
  &_second {
    display: flex;
    gap: 2rem;
  }
}

@media (max-width: $bp_laptop) {
  .skills {
    padding: 6rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    &_first,
    &_second {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      max-width: 100%;
    }
  }
}

@media (max-width: $bp_phone) {
  .skills {
    padding: 6rem 2rem;

    &_first,
    &_second {
      gap: 1rem;
    }
  }
}
