$main_color: var(--main_color);
$secondary_color: var(--secondary_color);

$third_color: var(--third_color);
$fourth_color: var(--fourth_color);
$fifth_color: var(--fifth_color);

$font_poppins: "Poppins", sans-serif;
$font_neutral: "Neutral Face", sans-serif;

$secondary_color_2: var(--secondary_color_2);
$fifth_color_2: var(--fifth_color_2);

$bp_laptop: 992px;
$bp_tablet: 768px;
$bp_phone: 600px;
