@import "../../style/variables";
@import "../../style/mixins.scss";

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 13rem;

  &_icon {
    width: 6.5rem;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary_color_2;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;

    svg {
      width: 3.5rem;
      height: 3.5rem;
      color: $fifth_color_2;
    }
  }

  &_name {
    @include textStyle(1.4rem, $font_poppins, 200);
    text-transform: capitalize;
    color: $fifth_color;
  }
}

@media (max-width: $bp_laptop) {
  .skill {
    width: 10rem;

    &_icon {
      svg {
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    &_name {
      font-size: 1.8rem;
    }
  }
}
